{% extends "base.html" %}
{% block content %}
{% load static %}
<!doctype html>
<html lang="en-GB">
<head>
    
    <title>Bookmycharge | Contact</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Contact us if you have any queries! - Be a part of the community today - It&#039;s completely free! -  Locate - Reserve - Charge" />
    <link rel="stylesheet" href="{% static 'homepage/add.css' %}">


</head>
<body class="font-inter text-bmc-black">

<div class="jumbotron">


            <p class="text-3xl md:text-4xl font-bold">Do you have suggestions for how we can make EV Flex better,<br>
                 or issues you’d like to resolve?</p>
            &emsp;
            <br>
                <p>If so, get in touch with us: <a href="mailto:support@evflex.com" class="hover:underline font-bold">support@evflex.com</a></p>
             
                <p>You can also call us on <b>+91 8780873131 (9am-5.30pm Monday to Friday)</b>.</p>
                <br>
                <p>We welcome all constructive feedback help us improve the EV Flex experience.</p>

            

</div>

</body>
</html>

{% endblock content %}